<style>
    .user-details {
      text-align: center;
      text-justify: inter-word;
      margin: 25px auto;
      padding: 45px;
      border: 1px solid orange;
      border-radius: 25px;
      justify-content: space-between
        p {
                    text-align: justify;
                    text-justify: inter-word;
        }
        #list {
        text-align: left;
        }
        ul {
            text-align: justify;
                    text-justify: inter-word;
            list-style-position: inside;
            list-style-type: none;
        }
    }
</style>
<div class="user-details">
    {{ body | safe }}
</div>
