<head>
    <style>
    .user-details {
      text-align: center;
      text-justify: inter-word;
      margin: 25px auto;
      padding: 45px;
      border: 1px solid orange;
      border-radius: 25px;
      justify-content: space-between
        p {
                    text-align: justify;
                    text-justify: inter-word;
        }
        #list {
        text-align: left;
        }
    }
    </style>
<head>
<div class="user-details">
    <h1>Hardware</h1>
    <p>Reparación y mantenimiento de computadores y notebooks.</p>
    	<p id="list"><i aria-hidden="true" class="svg check"></i>Instalación, configuración y actualización de componentes, sistemas operativos y aplicativos.</p>
    	<p id="list"><i id="icon" aria-hidden="true" class="svg check"></i>Copias de seguridad, recuperación y migración de datos.</p>
    	<p id="list"><i aria-hidden="true" class="svg check"></i>Sustitución de piezas en general.</p>
</div>
