<head>
    <style>
    .user-details {
      text-align: center;
      text-justify: inter-word;
      margin: 25px auto;
      padding: 45px;
      border: 1px solid orange;
      border-radius: 25px;
      justify-content: space-between;
    }
    </style>
</head>
<div class="user-details">
    <h1>Hardware</h1>
    <p>Conserto e manutenção de computadores e notebooks.</p>
    	<p id="list"><i aria-hidden="true" class="svg check"></i> Instalação, configuração e atualização de componentes, sistemas operacionais e aplicativos.</p>
    	<p id="list"><i id="icon" aria-hidden="true" class="svg check"></i> Copias de segurança, recuperação e migração de dados.</p>
    	<p id="list"><i aria-hidden="true" class="svg check"></i> Troca de peças em geral.</p>
</div>
