<main id="main">
    <div class="user-details">
      <h1> Hardware </h1>
      <p>Assistência Técnica. Consultoria de TI. Limpeza, conserto e manutenção de computadores e notebooks. Instalação e configuração de periféricos e redes locais. Suporte ao usuário final e para empresas de pequeno a mediano porte. Serviços:</p>
      <ul>
        <li>Instalação e Atualização de sistemas operacionais e aplicativos.</li>
        <li>Fazer testes de conexão em redes locais.</li>
        <li>Criar backup e recuperar ou migrar dados.</li>
        <li>Efetuar a manutenção preventiva e corretiva de computadores e periféricos.</li>
    	<li>Aplicar novas tecnologias em componentes de hardware e em serviços de TI.</li>
    	<li>Configurar e monitorar sistemas operacionais, infraestrutura de redes sem fio e servidores locais.</li>
    	<li>Planejar e executar a montagem e manutenção de computadores e notebooks.</li>
        <li>Configurar desktop, softwares e ferramentas de manutenção de computadores e acesso remoto.</li>
      </ul>
    </div>
    </br>
    <div class="user-details">
      <h1> Software </h1>
      <p> Desenvolvimento de sites estáticos para domínios do Registro.br. Programação ágil. Entrega Continua de software. Algumas Ferramentas que uso HTML, SASS, JS, TS, Git, Github e Alpine Linux. Alguns dos meus Serviços:</p>
      <ul>
        <li>Websites</li>
        <li>Portfolios</li>
      </ul>
    </div>
</main>
