<style>
    #BtnLinkedin {
        display: inline-block;
        position: relative;
        cursor: pointer;
        padding: 15px 25px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #f90;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
    }
    #BtnLinkedin:hover {background-color: #f92}

    #BtnLinkedin:active {
      background-color: #f93;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
    #BtnLinkedin:focus {
        display: relative;
        border: solid 2px orange;
        font-size: 24;
        //margin: 0 0 0 0;
        //padding: 0 0 0 0;
        border-radius: 10px;
    }
</style>
<button onclick="location.href='https://www.linkedin.com/in/luis-ricardo-mart%C3%ADnez-d%C3%ADaz/'" id="BtnLinkedin" title="LinkedIn" height="100px" width="100px">LinkedIn  <i class="svg linkedin"></i></button>

