<button class="no-print" id="botao" onclick="myFunction()">Imprimir <i class="icon fa fa-print"></i></button>

<script>
function myFunction() {
  window.print();
}
</script>
<!--

<div class="user-details">
<a class="top" href="#" data-scroll><i class="icon fa fa-chevron-up" aria-hidden="true"></i></a>
</div>
{% macro btndown() %}
<div class="user-details">
<a class="top" href="#projects" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
{% endmacro btndown %}


<main>
 <button type=button class="md-top md-icon" data-md-component=top hidden> <svg xmlns=http://www.w3.org/2000/svg viewbox="0 0 24 24"><path d="M13 20h-2V8l-5.5 5.5-1.42-1.42L12 4.16l7.92 7.92-1.42 1.42L13 8z"/></svg> Back to top </button>
</main>i

<button type="button" class="md-top md-icon" data-md-component="top" style="top: 64px;" hidden="" tabindex="-1"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 20h-2V8l-5.5 5.5-1.42-1.42L12 4.16l7.92 7.92-1.42 1.42L13 8z"></path></svg> Back to top </button>

 -->
