    {% import "m00macros.html" as m00macros %}
<head>
    <style>
    .user-details {
      text-align: center;
      position: relative;
      text-justify: inter-word;
      margin: 25px auto;
      padding: 45px;
      box-shadow: 10px 10px 20px #613200;
      border: 1px solid orange;
      border-radius: 25px;
      justify-content: space-between;
    }
    </style>
</head>
<div class="user-details">
    <h2>Assistência técnica</h2>
    <p>Suporte técnico e consultoria em TI em São Paulo (Capital). Assistência remota em Português, Inglês ou Espanhol. Envie uma mensagem.</p>
        {%- block content %}
            {{ m00macros::m00whatsapp() }}
        {%- endblock content %}
</div>

