<button class="no-print" id="print-button" onclick="imprimir()" title="Imprimir">
<svg fill="#000000" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" style="--darkreader-inline-fill: #000000;" data-darkreader-inline-fill=""><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M2 9V0h12v9h2v7H0V9h2zm0 2v3h12v-3H2zm1 1h2v1H3v-1zM4 2v7h8V2H4zm1 2h6v1H5V4zm0 2h6v1H5V6z" fill-rule="evenodd"></path> </g></svg></button>
<script>
function imprimir() {
  window.print();
}
</script>
<!--

<div class="user-details">
<a class="top" href="#" data-scroll><i class="icon fa fa-chevron-up" aria-hidden="true"></i></a>
</div>
{% macro btndown() %}
<div class="user-details">
<a class="top" href="#projects" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
{% endmacro btndown %}


<main>
 <button type=button class="md-top md-icon" data-md-component=top hidden> <svg xmlns=http://www.w3.org/2000/svg viewbox="0 0 24 24"><path d="M13 20h-2V8l-5.5 5.5-1.42-1.42L12 4.16l7.92 7.92-1.42 1.42L13 8z"/></svg> Back to top </button>
</main>i

<button type="button" class="md-top md-icon" data-md-component="top" style="top: 64px;" hidden="" tabindex="-1"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 20h-2V8l-5.5 5.5-1.42-1.42L12 4.16l7.92 7.92-1.42 1.42L13 8z"></path></svg> Back to top </button>

 -->
