<head>
    <style>
    .user-details {
      text-align: center;
      text-justify: inter-word;
      margin: 25px auto;
      padding: 45px;
      border: 1px solid orange;
      border-radius: 25px;
      justify-content: space-between;
    }
    #list {
    text-align: justify;
    }
    </style>
</head>
<div class="user-details">
    <h1>Software</h1>
    <p>Desenvolvimento de sites estáticos para domínios do <a rel="noopener" target="_blank" href="https://registro.br/">Registro.br</a>. Uso HTML semântico, SASS, JS, TS, Git, Github e Alpine Linux, entre outras ferramentas. Serviços:</p>
    <p id="list"><i aria-hidden="true" class="svg check"></i> Websites.</p>
    <p id="list"><i aria-hidden="true" class="svg check"></i> Portfolios.</p>
    <p id="list"><i class="svg check"></i> Aplicativos móveis e de desktop.</p>
</div>

