{%- import 'macros/seo.html' as macros_seo %}
{%- import "macros/macros.html" as macros %}
{# Load current language i18n data from .toml files in user's '/i18n' folder, use theme as fallback. #}
{%- set i18n = load_data(path="i18n/" ~ lang ~ '.toml', required=false) -%}
{%- if not i18n -%}{%- set i18n = load_data(path="themes/abridge/i18n/" ~ lang ~ ".toml", required=false) -%}{%- endif %}

{%- set uglyurls = config.extra.uglyurls | default(value=false) -%}
{%- if config.extra.offline %}{% set uglyurls = true %}{% endif %}
<!DOCTYPE html>
<html lang="{%- if lang != config.default_language %}{{ lang }}{% else %}{{ config.extra.language_code | default(value=lang) }}{% endif %}">
<head>
  {%- include "partials/head.html" %}

  {#- SEO: title, description, etc #}
  {%- block seo %}
    {%- if config.extra.title_separator %}
      {%- set title_separator = " " ~ config.extra.title_separator ~ " " -%}
    {%- else %}
      {%- set title_separator = " | " -%}
    {%- endif %}
  {%- endblock seo %}

  {%- block comments_init %}
  {%- endblock comments_init %}

  {%- include "partials/head_js.html" %}
</head>
<body>
  <main>
  {%- block content %}
  <div>

  {%- if page.content %}
  {{ page.content | safe }}
  {% elif section.content %}
  {{ section.content | safe }}
  {%- endif %}
  </div>
  {%- endblock content %}

  </main>
{%- block gotop %}
{%- endblock gotop %}
</body>
</html>
