{#
This Template Shows a paginated page of the Posts of a section with a short summary.
This Template can also be used directly for the index eg: example.com/ or as the rendering template for Sections, eg: example.com/blog/  example.com/software/
#}

{%- extends "base.html" %}
{%- set uglyurls = config.extra.uglyurls | default(value=false) -%}
{%- if config.extra.search_library %}{%- if config.extra.search_library == "offline" %}{% set uglyurls = true %}{% endif %}{% endif %}


{%- block seo %}
  {{- super() }}

  {%- if config.title %}
    {%- set title = config.title %}
  {%- else %}
    {%- set title = "" %}
  {%- endif %}

  {%- if config.extra.title_addition and title %}
    {%- set title_addition = title_separator ~ config.extra.title_addition %}
  {%- elif config.extra.title_addition %}
    {%- set title_addition = config.extra.title_addition %}
  {%- else %}
    {%- set title_addition = "" %}
  {%- endif %}

  {%- set description = config.description %}

  {{- macros_seo::seo(config=config, title=title, title_addition=title_addition, description=description, is_home=true) }}
{%- endblock seo %}



{%- block content %}
    <div>
        {{ section.content | safe }}
    </div>
{%- endblock content %}
