{% macro m00whatsapp() %}
<style>
#mywhatsappBtn {
	display: inline-block;
    position: relative;
    bottom: 0px;
    cursor: pointer; /* Add a mouse pointer on hover */
    border: none;
    background: none;
    font-size: 24px;
    font-weight: 600;
    outline: none;
    color: black;
   // background: linear-gradient(to right, #f90, #f91, #f92, #f93, #f94);
    background-color: #f90;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
#mywhatsappBtn:hover {
	background-color: #f92;
}
#mywhatsappBtn:active {
	background-color: #f93;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
#mywhatsappBtn:focus {
    display: relative;
    border: solid 2px orange;
    font-size: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-radius: 10px;
}

img {
display: block;
}
</style>
<button onclick="location.href='https://wa.me/5511933014430'" id="mywhatsappBtn" title="whatsapp"><img src="/icons/WhatsAppButtonGreenLarge.svg" alt="Botão Whatsapp" height="48px" width="207px"></button>
{% endmacro %}

{% macro m00skip() %}
<style>
</style>
<button onclick="conteudo()" class="skip-link" title="Ir para o conteúdo principal"><i class="svg chevron"></i> Pular para o conteúdo <i class="svg chevron"></i></button>
<script>
function conteudo() {
    const conteudo = document.getElementById('main');
    conteudo.scrollIntoView();
}
</script>
{% endmacro %}




{% macro software() %}
<div class="user-details">
  <h1> Software </h1>
  <p>Adicionar descrição</p>
  <details>
      <summary>Serviços</summary>
      <ul>outro a mais</ul>
  </details>
</div>
{% endmacro software%}

{% macro about() %}
  <div class="user">
    <div class="tech">
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark"></i>
      <i class="devicon-sass-original"></i>
    </div>
    <div class="tech">
      <i class="devicon-javascript-plain"></i>
      <i class="devicon-typescript-original"></i>
    </div>
    <div class="tech">
      <i class="devicon-git-plain"></i>
      <i class="devicon-github-plain"></i>
      <i class="devicon-linux-plain"></i>
    </div>
</div>
{% endmacro about %}

{% macro btnup() %}
<div class="user-details">
<a class="top" href="#" data-scroll><i class="icon fa fa-chevron-up" aria-hidden="true"></i></a>
</div>
{% endmacro btnup %}

{% macro btndown() %}
<div class="user-details">
<a class="top" href="#projects" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
{% endmacro btndown %}

{% macro projects() %}
<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ config.base_url ~ "/img/mountains.jpg" }}" />
  </div>
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="top" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ config.base_url ~ "/img/skate.jpg" }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="top" href="#">Check it out</a>
  </div>
</div>
<div class="user-details">
<a class="top" href="#" data-scroll><i class="icon fa fa-chevron-up" aria-hidden="true"></i></a>
<a class="top" href="#faqs" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
{% endmacro projects %}

{% macro faqs() %}
<div class="user-details">
  <h1> Faqs </h1>
  <p> {{ config.extra.user_description }} </p>
	<a class="top" href="#" data-scroll><i class="icon fa fa-chevron-up" aria-hidden="true"></i></a>
</div>
{% endmacro faqs%}
