{% macro m00whatsapp() %}
<style>
#mywhatsappBtn {
	display: inline-block;
    position: relative;
    bottom: 0px;
    cursor: pointer; /* Add a mouse pointer on hover */
    border: none;
    background: none;
    font-size: 24px;
    font-weight: 600;
    outline: none;
    color: black;
    background-color: #f90;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
#mywhatsappBtn:hover {
	background-color: #f92;
}
#mywhatsappBtn:active {
	background-color: #f93;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
#mywhatsappBtn:focus {
    border: solid 2px orange;
    font-size: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-radius: 10px;
}

img {
display: block;
}
</style>
<button onclick="location.href='https://wa.me/5511933014430'" id="mywhatsappBtn" title="whatsapp"><img src="/icons/WhatsAppButtonGreenLarge.svg" alt="Botão Whatsapp" height="48px" width="207px"></button>
{% endmacro %}

{% macro m00skip() %}
<button onclick="conteudo()" class="skip-link" title="Ir para o conteúdo principal"><i class="svg chevron"></i> Pular para o conteúdo <i class="svg chevron"></i></button>
<script>
function conteudo() {
    const conteudo = document.getElementById('main');
    conteudo.scrollIntoView();
}
</script>
{% endmacro %}

