{% macro m00whatsapp() %}
<style>
#mywhatsappBtn {
	display: inline-block;
    position: relative;
    bottom: 0px;
    cursor: pointer; /* Add a mouse pointer on hover */
    border: none;
    background: none;
    font-size: 24px;
    font-weight: 600;
    outline: none;
    color: black;
    background-color: #f90;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
#mywhatsappBtn:hover {
	background-color: #f92;
}
#mywhatsappBtn:active {
	background-color: #f93;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
#mywhatsappBtn:focus {
    border: solid 2px orange;
    font-size: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-radius: 10px;
}

img {
display: block;
}
</style>
<button onclick="location.href='https://wa.me/5511933014430'" id="mywhatsappBtn" title="whatsapp"><img src="/icons/WhatsAppButtonGreenLarge.svg" alt="Botão Whatsapp" height="48px" width="207px"></button>
{% endmacro %}

{% macro m00skip() %}
<button onclick="conteudo()" class="skip-link" title="Ir para o conteúdo principal"><i class="svg chevron"></i> Pular para o conteúdo <i class="svg chevron"></i></button>
<script>
function conteudo() {
    const conteudo = document.getElementById('main');
    conteudo.scrollIntoView();
}
</script>
{% endmacro %}

{% macro m00top() %}
<style>
#selo {
		text-align: left;
		font-size: 60px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
}
</style>
<br>
<div id="selo">
    <a href="https://top.nic.br/site/luis-ti.dev.br/89404/">
        <img style="border:0; width:75px;height:100px;"
       		src="/imagens/selo-website-test.png"
       		alt="Selo TOP!" />
    </a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px"
            src="https://jigsaw.w3.org/css-validator/images/vcss"
            alt="Valid CSS!" />
    </a>
</div>
{% endmacro %}

{% macro m00pixel() %}
<!-- Meta Domain Verification Code -->
<meta name="facebook-domain-verification" content="ddktvhpcfd617dsimr25x5lw9psgfx" />
<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1157605809271676');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1157605809271676&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
{% endmacro %}
